<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Amankan file .env agar tidak bisa didownload orang
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>

    # 2. Arahkan semua pengunjung masuk ke folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>